#tags-for-sorting
  background: red
  border-radius: 40px

#browseprojects-jumbotron-h1
  text-align: center

#browseprojects-jumbotron-sub
  text-align: center

#browseprojects-jumbotron-sub2
  text-align: center

#tags-for-sorting
  text-align: center
  align-items: center
