.main-nav
  display: flex

  li
    list-style: none
  li:first-child
    margin-right: auto

  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 50px
    text-decoration: none
    font-weight: 600
    text-transform: uppercase

a.download
  background: white
  color: black
  box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.2)
  margin-left: 25px
